.appList {
  padding: 50px 0;
  font-size: 14px;
  align-items: center;
}
.appList .option {
  display: flex;
  align-items: center;
}
.appList .option label {
  font-size: 14px;
  margin-right: 8px;
}
.appList .option input,
.appList .option select {
  margin-right: 40px;
}
