.userInfo {
  display: flex;
  align-items: center;
}
.userInfo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.userInfo .info h2 {
  font-size: 20px;
  color: #666666;
  font-weight: 400;
}
.userInfo .info a {
  font-size: 12px;
  margin-left: 15px;
  color: #43addf;
  vertical-align: middle;
}
.userInfo .info p {
  margin-top: 10px;
}
.userInfo .marquee {
  position: relative;
  margin-left: 90px;
  width: 300px;
  height: 100px;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
  background-color: #eee;
}
.userInfo .marquee i {
  position: absolute;
  top: 20px;
  left: 10px;
}
.userInfo .marquee #marquee_down {
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.userInfo .marquee #marquee_down ul li {
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.shoppingCar {
  margin-top: 60px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #26a0da;
  border-radius: 5px;
  margin-bottom: 80px;
  cursor: pointer;
}
.content-title {
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  overflow: hidden;
}
.content-title h3 {
  font-size: 24px;
  color: #666666;
  vertical-align: bottom;
}
.content-title a {
  position: absolute;
  color: #666666;
  right: 0px;
  bottom: 6px;
}
.content-title a:hover {
  text-decoration: none;
}
.latestOrder .latestOrderList .filedHead {
  margin-top: 30px;
  height: 40px;
  line-height: 40px;
  background-color: #eeeeee;
  color: #666666;
}
.latestOrder .latestOrderList .filedHead span {
  box-sizing: border-box;
  display: inline-block;
}
.latestOrder .latestOrderList .filedHead span:first-child::before {
  content: "";
}
.latestOrder .latestOrderList .filedHead span::before {
  content: "|";
  color: #666;
  margin-right: 20px;
}
.latestOrder .latestOrderList .orderContent ul li {
  margin-top: 10px;
}
.latestOrder .latestOrderList .orderContent ul li .top {
  background-color: #eee;
  color: #666;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
}
.latestOrder .latestOrderList .orderContent ul li .orderInfo {
  border: 1px solid #ccc;
  border-top: none;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
}
.latestOrder .latestOrderList .orderContent ul li .orderInfo span {
  text-indent: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.latestOrder .latestOrderList .orderContent ul li .orderInfo span .goOrder {
  color: #f5255e;
}
.latestOrder .latestOrderList .orderContent ul li .orderInfo span a {
  margin-right: 10px;
  color: #666;
}
.frequentlyProduct {
  margin-top: 60px;
}
